@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex justify-content-center">
    <form class="text-center border  border-info p-5 w-auto rounded" asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <p class="h4 mb-4">Login</p>
        <hr class="bg-info" />
        <div asp-validation-summary="All" class="text-danger"></div>

        <!-- E-mail -->
        <input type="email" class="form-control mb-4" placeholder="E-mail" asp-for="Input.Email">
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <!-- Password -->
        <input type="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" asp-for="Input.Password">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <small id="forgottenPasswordLink" class="form-text text-muted d-flex justify-content-end">
            <a class="pr-2" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
        </small>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <hr class="bg-info" />

        <!-- Sign up button -->
        <button class="btn btn-info btn-block" type="submit">Login</button>

    </form>
</div>