@model CookIt.Web.ViewModels.Ingridient.IngredientBindingModel
@{
    this.ViewData["Title"] = "Create Ingredient";

}

<div class="d-flex justify-content-center">
    <form class="text-center w-50 rounded" method="post">

        <p class="h4 mb-4">Create Ingredient</p>
        <div asp-validation-summary="ModelOnly" class="text-danger pb-1"></div>
        <hr class="bg-info" />

        <input type="text" class="form-control mb-4" placeholder="Name" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>

        <select type="text" class="form-control" asp-for="IngredientTypeId">
            <option selected disabled>--- Select Ingredient Type ---</option>
            <vc:ingredient-types></vc:ingredient-types>
        </select>
        <small id="createIngredientTypeLink" class="form-text text-muted d-flex justify-content-end">
            <a class="pr-2" href="/Administration/Ingredients/CreateIngredientType">Missing appropriate ingredient type?</a>
        </small>
        <span asp-validation-for="IngredientTypeId" class="text-danger"></span>

        <hr class="bg-info" />

        <button class="btn btn-info btn-block" type="submit">Create</button>

    </form>
</div>